ul li{
	display: inline;
	margin-left: 80px;
}
h4,h5{
	margin: 0;
	padding: 0;
}
.box{
	width: 1366px;
}
.box div a:hover{
	text-decoration: underline;
}
.header{
	background-color: black;
}
.header_center{
	width: 1000px;
	height: 44px;
	margin: 0 auto;
}
.header_center ul{
	line-height: 44px;
}
.header_center ul li:first-child{
	margin-left: 0;
}
.header_center ul a{
	text-decoration: none;
	color: #fff;
}
.header_center ul a:hover{
	color: rgb(138,138,138);
}

.body div{
	height: 580px;
}
.body .title{
	height: 120px;
	text-align: center;
	padding-top: 100px;
}
.iphone{
	background-color: #fafafa;

}
.body .title h2{
	font-size: 56px;
	font-weight: 600px;
	
	margin:0;
}
.body .title h3{
	font-size: 24px;
	font-weight: lighter;
	padding: 0;
	margin:0;
}
.body .liaojie{
	height: 20px;
}
.body .liaojie .con{
	height: 20px;
	width: 160px;
	margin: 0 auto;
}
.body .liaojie a{
	text-decoration: none;
	color: blue;
}
.body .bottom{
	height: 300px;
	padding: 50px 0;
}
.iphone .bottom .tupian{
	width: 736px;
	height: 200px;
	margin: 50px auto;
	background-image:url(../images/pingguo/iphone_x_01.png);
}

.ipad{
	margin-top: 10px; 
	background-color: #f5f5f5;
}
.ipad .bottom .tupian{
	width: 650px;
	height: 270px;
	margin: 20px auto;
	background-image:url(../images/pingguo/ipad_medium.jpg);
}

.mac{
	margin-top: 10px; 
	background-color: #131218;
}

.mac .liaojie a,
.mac .title h3,
.mac .title h2{
	color: #fff;
}
.mac .bottom .tupian{
	width: 1068px;
	height: 250px;
	margin: 0 auto;
	background-image:url(../images/pingguo/macbook_05.png);
}

.body .double{
	height: 1775px;
}
.double ul li{
	width: 660px;
	background-color: #fff;
	float: left;
	padding: 0;
	margin-top: 10px;
	margin-left: 10px;
}
ul .content{
	height: 580px;
}
.one .content{
	height: 570px;
	border:1px solid #fafafa;
	background-color: #FAFAFA;
}
.double .top{
    text-align: center;
	margin-top: 20px;
}
.double h4{
	font-size: 32px;
} 
.double h5{
	font-size: 19px;
	font-weight: lighter;
}
.one .top{
	height: 100px;
}
.one .tupian{
	height: 424px;
	background-image: url(../images/pingguo/mac01.png);
	background-repeat: no-repeat;
}
.two .content,
.three .content{
	background-repeat: no-repeat;
	background-color: #5a5b5f;
	position: relative;
}
.two .content{
	background-image: url(../images/pingguo/behind_03.png);
}
.two .cont{
	width: 200px;
	height: 100px;
	position: absolute;
	left: 250px;
	bottom: 50px;
}
.two .cont .top,
.two .cont .bottom{
	height: 50px;
	text-align: center;
}
.two .cont .top,
.three .cont .top{
	font-size: 24px;
	color: #fff;
}
.two .cont .bottom a,
.three .cont .bottom a{
	color: #fff;
}

.three .content{
	background-image: url(../images/pingguo/large.png);
}
.three .cont{
	width: 250px;
	height: 130px;
	position: absolute;
	left: 220px;
	bottom: 30px;
}
.three .cont .bottom{
	height: 50px;
	text-align: center;
	padding: 0;
	
}
.three .cont .top{
	height: 80px;
	text-align: center;
}
.four .content{
	height: 578px;
	border:1px solid #f9f0eb;
	background-color: #f9f0eb;
}
.four .top{
	height: 80px;
	
}
.four h4{
	font-size: 32px;
} 
.four h5{
	font-size: 19px;
	font-weight: lighter;
}
.four .con{
	height: 20px;
	text-align: center;
}
.four .tupian{
	width: 229px;
	height: 305px;
	margin: 50px auto;
	background-color: teal;
	background-image: url(../images/pingguo/medium.jpg);
	background-repeat: no-repeat;
}

.five .content{
	height: 578px;
	border:1px solid #fafafa;
	background-color: #FAFAFA;
}
.five .top{
	height: 150px;
}
.five .tupian{
	height: 400px;
	background-image: url(../images/pingguo/trade_05.png);
	background-repeat: no-repeat;
}


.six .content{
	height: 578px;
	border:1px solid #000;
	background-color: #000;
}
.six .top{
	height: 150px;
}
.six h4,
.six h5{
	color: #fff;
} 
.six .tupian{
	width: 219px;
	height: 292px;
	margin: 0 auto;
	background-image: url(../images/pingguo/three_rings_medium.jpg);
	background-repeat: no-repeat;
	margin-top: 50px;
}
.double ul::after{
	content: "";
	display: block;
	clear: both;
}
.footer{
	/*height: 600px;*/
	border: 1px solid RGB(242,242,242);
	background-color: RGB(242,242,242);
	margin-top: 10px;
}
.footer .top,
.footer .bottom{
	width: 1000px;
	margin: 0 auto;
}
.footer .top{
	margin-top: 50px;
	height:400px; 
}
.footer .top table{
	border-collapse: collapse;
	width: 1000px;
	height: 400px;
}
.footer .top ol{
	display: none;
}
.footer .bottom{
	margin-top: 30px;
	height: 80px;
}
.footer .bottom .aa{
	height: 30px;
}
.footer .bottom .bb{
	height: 50px;
	border-top: 1px solid #ccc;
}